<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- bootstrap -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
      
    <!-- font/icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/icon.ico" rel="shortcut icon">

    <!--bootstrap-table-->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css">

    <!-- jquery ui -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">    

     <!-- mine -->
    <link href="/static/base.css" rel="stylesheet">
    
    {% block head %}{% endblock %}
    

    <title>{% block title %}Home{% endblock %}</title>
  </head>


  <body class="d-flex flex-column min-vh-100">

 
  <nav class="shadow navbar navbar-expand-sm p-3 bg-white sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand fs-4 fw-bold" href="/home">杉行居 / SHAN HANG JU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if not current_user.is_authenticated %}
      <div class=" collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto "> 
          <li class="nav-item">
            <a class="nav-link mx-2" href="/location">交通指引</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/rooms">房型資訊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/reservation">線上訂房</a>
          </li>                  
        </ul>
      </div>
      {% else %}
      <div class=" collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/admin/bookings">管理訂單</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/admin/rooms">管理房間</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/admin/settings">設定</a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>



  {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
      {% for category, message in messages %} 
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert" id="errorMessage">
          {{ message }}          
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert" id="successMessage">
          {{ message }}          
        </div>
        {% endif %}
      {% endfor %} 
    {% endif %} 
  {% endwith %}

    <div class="container">
      {% block content %} {% endblock %}
    </div>

    <footer class="mt-auto">
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 杉行居&nbsp;|&nbsp;連絡電話：04-775-6852&nbsp;|&nbsp;地址：彰化縣鹿港鎮杉行街77號&nbsp;|&nbsp;臉書粉專：<a href="https://www.facebook.com/shanhanju" style="color:black"><i class="bi bi-facebook"></i></a>
      </div>
    </footer> 

    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap's js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- bootstrap table extension -->
    <script src="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.js"></script>
    <!-- jquery ui extension: for date picker -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script> 
    // flash messages     
      $(document).ready(function(){
        setTimeout(function() {
          $('#errorMessage').fadeOut('fast');
          }, 3000); // <-- time in milliseconds
        setTimeout(function() {
          $('#successMessage').fadeOut('fast');
          }, 3000); // <-- time in milliseconds
      });
      
    </script>

    {% block script %}{% endblock %}
    
  </body>
</html>