{% extends 'base.html' %}

{%block title %} 首頁 - 杉行居 {% endblock title %}

{% block content %}

<div class="my-md-4">&nbsp;</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card rounded-3 shadow">
      <div class="cardbody py-4 px-3">
        <div class="row">
          <div class="col-lg-5">
            <div class="row mt-2">
              <div class="col-md-4 col-sm-3">
                <img src="static/logo.jpg" class="img-fluid rounded-circle">
              </div>
              <div class="col-md-8 col-sm-9">
                <h3 class="fw-bold">杉行居民宿</h3>
                <p class="fw-light">2021年12月5日</p>
              </div>              
            </div>
            <hr>
              <p>「杉行居」的招牌掛起來了，有種莫名的感動。
                感覺是種「傳承」吧！想藉由這招牌讓大家認識「杉行街」，
                「杉行街」早期曾是福州杉的買賣市集，而公公也是以木業為生。
                所以我們的logo有樹、有屋脊，它是棟位在「杉行街」上的民宿。</p>
          </div>
          <div class="col-lg-7">
            <img src="static/post_img2.jpg" class="img-fluid img-thumbnail" style="object-fit: fill;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}