{% extends 'base.html' %}

{%block title %} 交通指引 - 杉行居 {% endblock title %}

{% block content %}

<div class="my-md-4">&nbsp;</div>

<div class="row mb-md-5">
  <div class="col-md-8 offset-md-2">
    <h2 class="fw-bold">交通指引</h2>
    <hr>
    <p>旅宿地址：彰化縣鹿港鎮杉行街77號</p>
    <p>連絡電話：04-775-6852</p>
    <div class="rwd-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.3964504586256!2d120.43257695098582!3d24.052339683014146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346945cd19b2d167%3A0x3c07b41f6db96341!2z5p2J6KGM5bGF!5e0!3m2!1szh-TW!2stw!4v1674113858659!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>
</div>


{% endblock %}