{% extends 'base.html' %}

{%block title %} 線上訂房 - 杉行居 {% endblock title %}

{% block content %}

<div class="my-md-4 my-2">&nbsp;</div>

<div class="row mb-5">
  <div class="col-md-10 offset-md-1">
    <h2 class="fw-bold text-center mb-md-3">線上訂房</h2>
    <div class="my-md-4">&nbsp;</div>
    <div class="card rounded-2 shadow">
      <div class="cardbody pt-4 px-4 w-100">
        <form class="row" method="post" autocomplete="off">
          <div class="col-md-3 my-md-3 my-1">
            <label for="check_in_date" class="form-label">入住日期</label>
            <input type="text" id="check_in_date" name="check_in_date" class="w-100 mt-1">
          </div>
          <div class="col-md-3 my-md-3 my-1">
            <label for="check_out_date" class="form-label">退房日期</label>
            <input type="text" id="check_out_date" name="check_out_date" class="w-100 mt-1">
          </div>
          <div class="col-md-3 my-md-3 my-1">
            <label for="room_type" class="form-label">選擇房型</label>
            <select class="form-select" name="room_type">
              <option selected value="2">雙人房</option>
              <option value="3">三人房</option>
              <option value="4">四人房</option>
            </select>
          </div>
          <div class="col-md-3 my-3">
            <button class="btn w-100 mt-md-38" type="submit" style="background-color: #68944e; color: white;" name="search" value="search">
                <i class="bi bi-search"></i> 查詢</button>
          </div>
        </form>
        <div class="mt-2">
          <p class="fw-light fst-italic">*若需預定的日期不連貫，或是需訂購一間以上的房間，請分次下訂單，謝謝</p>
        </div>
      </div>
    </div>
  </div>
</div>



{% if result == True %}
{% if available == False %}
<h2 class="fw-bold text-center my-3">查詢結果</h2>
<div class="row mb-5">
  <div class="col-md-8 offset-md-2">
    <div class="card rounded-0">
      <div class="cardbody p-4 w-100">
        <p class="lh-lg">{{ info[0] }} - {{ info[1] }} 查詢結果：<br>此房型目前日期沒有空房，請查詢其他日期，謝謝～</p>        
      </div>
    </div>
  </div>
</div>
{% else %}
<h2 class="fw-bold text-center my-3">查詢結果</h2>
{% for num, room in info.items() %}
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <div class="card rounded-0">
      <div class="cardbody px-3 py-4 w-100">        
        <div class="row">
          <div class="col-md-4">
            <img src="static/rooms/{{ room['img'] }}" class="img-fluid">
          </div>
          <div class="col-md-4">
            <p class="mt-2 fs-3">{{ room['name'] }}</p>
            <p class="mt-4">{{ room['dates'][0] }} - {{ room['dates'][1] }}<br>一間 共 {{ room['dates'][2] }} 晚</p>
            <p>總金額： NT$<span class="num">{{ room['amount'] }}</span> 元</p>
          </div>
          <div class="col-md-4">
            <div class="fs-3 my-md-3">&nbsp;</div>
            <ul class="mb-3">
              <li>提供免費早餐</li>
              {% if num in ['301', '303', '502'] %}
              <li>可加人/加床</li>
              {% else %}
              <li>不可加人/加床</li>
              {% endif %}
            </ul>
            <form method="post">
              <button class="btn w-100" type="submit" style="background-color: #68944e; color: white;" name="booking" value="booking">
                立即下訂</button>
              <input hidden type="text" value="{{ num }}" name="room_num">
              <input hidden type="text" value="{{ room['dates'][0] }}" name="check_in_booking">
              <input hidden type="text" value="{{ room['dates'][0] }}" name="check_out_booking">
              <input hidden type="text" value="{{ room['amount'] }}" name="amount">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endif %}

<div class="my-md-2">&nbsp;</div>

{% endblock %}

{% block script %}
<script>

// prevent re-submitting form when refresh or hit previous page
if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
}

window.onload = function() {  
  number_format();
}

// function

function number_format() {

  const nums_elements = document.getElementsByClassName('num');
  for (let i = 0; i < nums_elements.length; i++) {
    nums_elements[i].textContent = Number(nums_elements[i].textContent).toLocaleString();
  }

}

// datepicker

$( function() {
    var dateFormat = "yy/mm/dd",
      from = $( "#check_in_date" )
        .datepicker({           
          dateFormat: 'yy/mm/dd',
          changeMonth: true,
          changeYear: true, 
          numberOfMonths: 1, 
          minDate: '0', 
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#check_out_date" ).datepicker({
        dateFormat: 'yy/mm/dd',
        changeMonth: true,
        changeYear: true, 
        numberOfMonths: 1, 
        minDate: '0', 
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;      
      try {
        date = $.datepicker.parseDate( dateFormat, element.value )
        date.setDate(date.getDate() + 1);// time range at least 1 day
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );

</script>
{% endblock %}