{% extends 'base.html' %}

{%block title %} 君子巷 | 房型資訊 - 杉行居 {% endblock title %}

{% block content %}

<div class="my-md-4">&nbsp;</div>

<div class="row mb-md-5">
  <div class="col-md-8 offset-md-2">
    <h2 class="fw-bold ms-2">君子巷（雙人房）</h2>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <div id="carousel" class="carousel slide p-2" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/rooms/302_2.jpg" class="d-block w-100" >
            </div>
            <div class="carousel-item">
              <img src="/static/rooms/302_3.jpg" class="d-block w-100" >
            </div>            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <h5 class="fw-bold mt-2">設施 / 服務</h5>
        <table class="table align-middle">          
          <tbody>
            <tr>
              <td class="min">加人 / 加床</td>
              <td>
                <div class="fs-5">
                  <span class="badge badge-color">不可加人</span>
                  <span class="badge badge-color">不可加床</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="min">衛浴用品</td>
              <td>
                <div class="fs-5">
                  <span class="badge badge-color">洗髮乳</span>                  
                  <span class="badge badge-color">沐浴乳</span>
                  <span class="badge badge-color">浴巾</span>
                  <span class="badge badge-color">毛巾</span>
                  <span class="badge badge-color">浴帽</span>
                  <span class="badge badge-color">牙膏</span>
                  <span class="badge badge-color">牙刷</span>
                  <span class="badge badge-color">牙線</span>                  
                  <span class="badge badge-color">刮鬍刀</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="min">電器用品</td>
              <td>
                <div class="fs-5">
                  <span class="badge badge-color">電視</span>
                  <span class="badge badge-color">MOD</span>
                  <span class="badge badge-color">冷氣</span>
                  <span class="badge badge-color">熱水壺</span>
                  <span class="badge badge-color">冰箱</span>
                  <span class="badge badge-color">吹風機</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="min">寢具設備</td>
              <td>
                <div class="fs-5">
                  <span class="badge badge-color">拖鞋</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="min">餐點服務</td>
              <td>
                <div class="fs-5">
                  <span class="badge badge-color">免費早餐</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <table class="table table-bordered text-center px-2 my-2" style='table-layout:fixed; border: 1px solid; border-color:darkgray; ' bordercolor="#eeeeee">
      <tbody>
        <tr>
          <td colspan="3">房價表</td>
        </tr>
        <tr>
          <td>定價</td>
          <td>平日房價</td>
          <td>假日房價</td>          
        </tr>
        <tr>
          <td>NT3,800</td>
          <td>NT1,700</td>
          <td>NT2,300</td>
        </tr>
      </tbody>
    </table>
    <h4 class="fw-bold mt-4 ms-2">住宿須知</h4>
    <hr>
    <p>【平日、假日定義】</p>
    <ul>
      <li>平日：星期日至星期四</li>
      <li>假日：星期五至星期六、國定假日及連續假日</li>
      <li>定價：農曆春節期間</li>
    </ul>
    <p>【進退房時間】</p>
    <ul>
      <li>進房時間：下午 03:00 以後</li>
      <li>退房時間：上午 11:00 以前</li>
    </ul>
    <p>【注意事項】</p>
    <div class="row">
      <div class="col-md-6">
        <ul>      
          <li><u class="fw-bold">若需車位，請提前三天告知，否則無法預留</u></li>
          <li>禁止攜帶寵物</li>
          <li>室內全面禁止酒、吸菸、嚼檳榔</li>
          <li>入住時請出示身分證件以供登記，並請繳清餘款</li> 
          <li>請依房型人數入住，如需加人，請事先告知</li>     
        </ul>
      </div>
      <div class="col-md-6">
        <ul>          
          <li>晚上 10:00 過後請降低音量，勿大聲喧嘩，以維護社區安寧及其他旅客權益</li>
          <li>個人貴重物品請隨身攜帶並妥善保管，如有遺失恕不負責</li>
        </ul>
      </div>
    </div>
    
    
       
  </div>
</div>


{% endblock %}