.rwd-map {
  display: block; position: relative;
  overflow: hidden; height: 0; padding: 0;
  padding-bottom: 75%;
  }
  .rwd-map iframe {
  position: absolute;
  height: 70%; width: 100%;
  left: 0; top: 0;
  }

  .card {
    overflow: hidden;
  }

@media (max-width: 767px) {  
  .px-md-custom {      
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mt-md-38 {
    margin-top: 0rem;
  }
}

.badge-color {
  background-color: #68944e;
  color:white;
}

/* table { width: inherit !important; } */

td {
  width: auto;
}

td.min {
  width: 3rem;
  white-space: nowrap;
}

.mt-md-38 {
  margin-top: 1.9rem;
}